* {
  font-family: Open Sans;
  margin: 0;
  padding: 0;
}

a {
  font-size: 1em;
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

.sidebar-menu {
  background-color:#465266;
  color: #fff;
  float: left;
  height: 100em;
  width: 15%;
}

.profile-pic-container {
  text-align: center;
}

.sidebar-container {
  display: flex;
  float: left;
}

.sidebar-icons {
  margin: 2% 2% 0 4%;
  width: 8%;
}

.icon-container {
  border: solid .1vh #efefef;
  text-align: center;
  width: 5% ;
}

.calander-icon {
  float: right;
  margin:0;
  width: 3%;
}

.search-header {
  background-color: #fff;
  border-bottom: solid 0.5px #efefef;
  display: flex;
  flex-wrap: wrap;
}

.search-input {
  font-size: 2em;
  border: none;
  margin-left: 5%;
  width: 65%;
}

.search-input:placeholder {
  font-size: 2em;
}

.header-icons {
  margin: 20% 10% 10% 10%;
  width: 30%;
}

img {
  margin: 20%;
  width:40%;
} 

.nav-container {
  height: 20vh;
  margin:  5% 0;
  width: 100%;
}

.nav-menu {
  width: 100%;
}

.nav-buttons {
  height: 5px;
  width: 5px;
}

.share-btn {
  border-radius: 30%;
}

.nav-info {
  font-size: 1.5em;
  color: grey;
  margin: 0 2% 2% 19%;
  width: 80%;
}
.nav-links {
  color: grey;
  display:inline-block;
  margin: 5% 0 0 5%;
  text-decoration: none;
}

.preview-link {
  color: blue;
}

.nav-btn-container {
  float: right;

}

.share-btn {
  background-image: url('Images/more (1).svg');
  float: right;
  height: 10px;
  margin: 5%;
  width: 10px;
}



.main-body {
  background-color: #ebf1f4;
  box-sizing: border-box;
  float: left;
  height: 100em;
  padding: 2em;
  width: 85%;
}

.main-content-container {
  display:flex;
  justify-content: space-between;
  height: 30%;
}

.donut-container {
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 55%;
}

.donut-container section {
  display: flex;
}

.donut {
  height: 100%;
  width: 30% ;
}

.donut-ring {
  cx: 21;
  cy: 21;
  r: 15.9155;
  fill: transparent;
  stroke:#d2d3d4;
  stroke-width:3;
}

.donut-segment {
  cx: 21;
  cy: 21;  
  r: 15.91549430918954; 
  fill: transparent; 
  stroke: #ce4b99; 
  stroke-width: 3;
  stroke-dasharray:85 15; 
  stroke-dashoffset: 0;
}

.donut-hole {
    cx: 21;
    cy: 21;
    r: 15.9155;
    fill: transparent;
    stroke: rgb(206, 75, 153);
    stroke-width: 3;
    stroke-dasharray: 85, 15;
    stroke-dashoffset: 0;
}

.graph-container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width:40%;
}

.graph-container img {
 width: 100%;
 margin: 0;
}

.graph-container-button {
  height: 5% ;
  width: 20%;
  border-radius: 12px;
}

.bottom-half {
  box-sizing: border-box;
  height: 60%;
}


p {
  display: inline-block;
}
